<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"href="{% url 'profilepage' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'postpage' %}">POST</a>
            {% if request.User.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logoutpage' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">  
              <a class="nav-link" href="{% url 'loginpage' %}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'registerpage' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tweetpage' %}">Tweet</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>